# Essential
pandas
numpy
matplotlib
seaborn
scikit-learn
umap-learn
geopandas
altair
vega-datasets

#file import
requests
io

# More
lime 
shap 
pdpbox
mlxtend

# gradio or streamlit?
gradio
streamlit