# Essential
pandas
numpy
matplotlib
seaborn
geopandas
altair
vega-datasets

#dataset file import
requests

# sml/uml models
umap-learn
scikit-learn
xgboost
imblearn
joblib

# More
lime 
shap 
pdpbox
mlxtend

# gradio or streamlit?
gradio
streamlit

# ai explaining
duckduckgo_search